* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("image.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  backdrop-filter: blur(5.5px);
  min-height: 100vh;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 24px;
  color: rgb(29, 42, 46);
}

input {
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.keyboard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    background-color: rgba(169, 98, 59, 0.542);
    border-radius: 5px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

input[type="phone"]{
    background-color: aliceblue;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    height: 40px;
    margin-bottom: 40px;
    padding: 10px;
    text-align: center;
    width: 280px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

input[type="button"]{
    border-radius: 4px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 22px;
    cursor: pointer;

}

input[type=button]:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

input[type=tel] {
  background-color: #cccccc;
  border-radius: 10px;
  font-family: monospace;
  font-size: 22px;
  height: 40px;
  margin-bottom: 24px;
  padding: 10px;
  text-align: center;
  width: 280px;
}
